* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(15, 23, 42, 0.95);
    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.3rem;
    color: #cbd5e1;
}

.hero button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.about {
    padding: 120px 50px;
    background: #111827;
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
    color: #cbd5e1;
    font-size: 1.1rem;
}


.projects {
    padding: 120px 50px;
    background: #0f172a;
    text-align: center;
}

.projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.project-card {
    max-width: 900px;
    margin: auto;
    background: #1e293b;
    padding: 30px;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.project-card h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: white;
}

.project-card p {
    color: #cbd5e1;
    line-height: 1.7;
    margin-bottom: 15px;
}

.project-card ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.project-card li {
    color: #cbd5e1;
    margin-bottom: 8px;
}

.project-links {
    display: flex;
    gap: 15px;
}

.project-links a {
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.project-links a:hover {
    background: #1d4ed8;
}

.project-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 25px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.tech-stack span {
    background: #2563eb;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
}